@import 'lds-spinner.css';

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding:25px;
	text-align:center;
}

.darkgrey-text {
	color:darkgrey;
}

.help-text {
	font-size:12px;
	margin-top: 15px;
}

.error-text {
	display: flex;
    text-align: center;
    justify-content: space-around;
	border-radius: 20px;
	padding: 10px 30px;
	color: darkred;
	background: indianred;
}

.list {
	list-style-type: circle;
    padding-left: 25px;
}

.list-element {
	margin-bottom: 15px;
}

.slim-font {
	font-weight:400;
}

.logo {
	width:400px;
}

.player-points {
	font-size:20px;
}

.file-input {
	max-width:600px;
	margin-top:50px;
}

.form-control {
	margin:25px 0 10px;
	box-shadow: rgba(136, 165, 191, 0.48)
				6px 2px 16px 0px,
				rgba(255, 255, 255, 0.8)
				-6px -2px 16px 0px;
}

.category-warning {
	font-size:12px;
	color: darkgrey;
}

.result-container {
	width:95%;
	min-height:600px;
	font-size:16px;
	border:1px solid black;
	outline:none;
	overflow:auto;
	padding:25px;
	text-align:left;
	border-radius: 12px;
	box-shadow: rgba(136, 165, 191, 0.48)
				6px 2px 16px 0px,
				rgba(255, 255, 255, 0.8)
				-6px -2px 16px 0px;
}

.anotacion {
	display: flex;
	justify-content: space-evenly;
}

.anotacion-equipo1 {
	margin-bottom: 40px;
}

.loading-background {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.2);
}

#myProgress {
	width: 100%;
	background-color: #ddd;
}

#loadingBar {
	width: 1%;
	height: 5px;
	background-color: #F35628;
}

@media (max-width: 600px) {
	.anotacion {
		display: block;
	}
}